{% include "header.html" %}
{% block content %}
<div class="container mt-5">
    <h1>Upload Picture</h1>
    <form method="post" enctype="multipart/form-data" class="mt-4">
        <div class="mb-3">
            <label for="file" class="form-label">Select an image to upload:</label>
            <input type="file" class="form-control" id="file" name="file" accept="image/*">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    <div class="mt-4">
        <h2>Your Uploaded Pictures</h2>
        <form action="{{ url_for('crop_multiple_pictures') }}" method="post">
            <div class="row">
                {% for picture in pictures %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename=picture.original_path.replace('static/', '')) }}" 
                             class="card-img-top" alt="Uploaded Image">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="picture_ids" 
                                       value="{{ picture.id }}" id="picture{{ picture.id }}">
                                <label class="form-check-label" for="picture{{ picture.id }}">
                                    Select for cropping
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <div class="text-center mt-3 mb-5">
                <button type="submit" class="btn btn-primary">Crop Selected Pictures</button>
            </div>
        </form>
    </div>
    <script>
      if ( window.history.replaceState ) {
          window.history.replaceState( null, null, window.location.href );
      }
  </script>  
{% endblock %}
{% include "footer.html" %}
